<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <h1><a href="#" style="padding-left: 4px; color: #70CCCC;">AskHodor</a></h1>
    <ol class="breadcrumb" style="padding-left: 15px;">
      <li><a href="#">Trendy</a></li>
      <li><a href="#">Popular</a></li>
      <li><a href="#">Most Wanted</a></li>
    </ol>
  </div>
</nav>

<!-- --------------------------------------------------------------------------------- -->

<div class="container" style="margin-top: 150px;">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
       <li class="list-group-item">
        <span class="badge">14</span>
          JavaScript
       </li>
       <li class="list-group-item">
        <span class="badge">8</span>
          Node.js
       </li>
       <li class="list-group-item">
        <span class="badge">2</span>
          Ruby
       </li>
       <li class="list-group-item">
        <span class="badge">89</span>
          Python
       </li>
       <li class="list-group-item">
        <span class="badge">125</span>
          Java
       </li>
       <li class="list-group-item">
        <span class="badge">34%</span>
          C#
       </li>
       <li class="list-group-item">
        <span class="badge">6</span>
          PHP
       </li>
       <li class="list-group-item">
        <span class="badge">14</span>
          JavaScript
       </li>
       <li class="list-group-item">
        <span class="badge">8</span>
          Node.js
       </li>
       <li class="list-group-item">
        <span class="badge">2</span>
          Ruby
       </li>
       <li class="list-group-item">
        <span class="badge">89</span>
          Python
       </li>
       <li class="list-group-item">
        <span class="badge">125</span>
          Java
       </li>
       <li class="list-group-item">
        <span class="badge">43</span>
          C#
       </li>
       <li class="list-group-item">
        <span class="badge">6</span>
          PHP
       </li>
     </ul>
    </div>
    <div class="col-md-6">
      <ul class="media-list">
        <hr style="margin-top: 0px;">
        <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="assets/author1.jpg" alt="author1">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Author1</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi molestias, ducimus nesciunt sit cupiditate, rerum reprehenderit culpa ut. Omnis nesciunt animi, quis nobis repudiandae tempora a nostrum cumque reiciendis. Obcaecati.
          </div>
        </li>
        <hr>
        <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="assets/author2.jpg" alt="author2">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Author2</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos odit iure corporis, nisi, eaque sapiente consequuntur nihil, dignissimos ipsam in itaque facere dicta distinctio, at deserunt. Perferendis, obcaecati sint quas.
          </div>
        </li>
        <hr>
        <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="assets/author0.jpg" alt="author0">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Miguel Silva</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi molestias, ducimus nesciunt sit cupiditate, rerum reprehenderit culpa ut. Omnis nesciunt animi, quis nobis repudiandae tempora a nostrum cumque reiciendis. Obcaecati.
          </div>
        </li>
        <hr>
        <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="assets/author3.jpg" alt="author3">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Author3</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos odit iure corporis, nisi, eaque sapiente consequuntur nihil, dignissimos ipsam in itaque facere dicta distinctio, at deserunt. Perferendis, obcaecati sint quas.
          </div>
        </li>
        <hr>
        <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="assets/author4.jpg" alt="author4">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Author4</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos odit iure corporis, nisi, eaque sapiente consequuntur nihil, dignissimos ipsam in itaque facere dicta distinctio, at deserunt. Perferendis, obcaecati sint quas.
          </div>
        </li>
        <hr>
        <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="assets/author5.jpg" alt="author5">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Author5</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos odit iure corporis, nisi, eaque sapiente consequuntur nihil, dignissimos ipsam in itaque facere dicta distinctio, at deserunt. Perferendis, obcaecati sint quas.
          </div>
        </li>
        <hr>
        <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="assets/author6.jpg" alt="author6">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Author6</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos odit iure corporis, nisi, eaque sapiente consequuntur nihil, dignissimos ipsam in itaque facere dicta distinctio, at deserunt. Perferendis, obcaecati sint quas.
          </div>
        </li>
        <hr>
        <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="assets/author7.jpg" alt="author7">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Author7</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos odit iure corporis, nisi, eaque sapiente consequuntur nihil, dignissimos ipsam in itaque facere dicta distinctio, at deserunt. Perferendis, obcaecati sint quas.
          </div>
        </li>
        <hr>
        <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="assets/author8.jpg" alt="author8">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Author8</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos odit iure corporis, nisi, eaque sapiente consequuntur nihil, dignissimos ipsam in itaque facere dicta distinctio, at deserunt. Perferendis, obcaecati sint quas.
          </div>
        </li>
        <hr>
      </ul>
      <nav style="margin-left: 25%;">
        <ul class="pagination">
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">5 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">6 <span class="sr-only">(current)</span></a></li>
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>
    </div>
    <div class="col-md-3">
      <div class="jumbotron">
        <h1 class="text-center">Messy code <br>===<br> incompetence</h1>
        <p class="text-center" style="padding-top: 33px;">It’s not a bug – it’s an undocumented feature.</p>
        <p style="padding-top: 33px; margin-left: 24%; margin-bottom: 3%;"><a class="btn btn-primary btn-lg" href="#" role="button">Apply Here</a></p>
        <p style="margin-left: 20%;"><a class="btn btn-danger btn-lg" href="#" role="button">Or Just Don't</a></p>
      </div>
    </div>
  </div>
</div>

<!-- The content of your page would go here. -->

  <footer class="footer-distributed">
      <div class="footer-left">
        <h3>Company<span>logo</span></h3>
        <p class="footer-links">
          <a href="#">Home</a>
          ·
          <a href="#">Blog</a>
          ·
          <a href="#">Pricing</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Faq</a>
          ·
          <a href="#">Contact</a>
        </p>
        <p class="footer-company-name">askhodor.Inc &copy; 2016</p>
       <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>
        </div>
      </div>
      <div class="footer-right">
        <p>Don't Fuck With Us:</p>
        <form action="#" method="post">
          <input type="text" name="email" placeholder="Email" />
          <textarea name="message" placeholder="Message"></textarea>
          <button>Send</button>
        </form>
      </div>
  </footer>
